<Configuration monitorInterval="30">
    <Appenders>
      <!--   <File name="MyFile" fileName="logs.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File> -->
        <RollingFile
                name="rollingFile"
                fileName="logs.log"
                filePattern="logs.%i.log.gz"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="200 KB" />
            </Policies>
            <DefaultRolloverStrategy max="1" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="ALL">
             <AppenderRef ref="rollingFile"/>
        </Root>
    </Loggers>
</Configuration>